.item-box {
    margin: 1em;

    width: 25em;
    height: 20em;

    border-style: outset;
    border-color: #5f5e5e;
    border-width: 0.3em;

    display: flex;
    flex-direction: column;

    align-items:center;
    justify-content: space-between;
}

.delete-checkbox {
    width: 1em;
    height: 1em;

    margin-top: 4em;

    border-style: outset;
    border-color: #5f5e5e;
    border-width: 0.3em;
}

.info{
    margin: 1em;

    width: 80%;
    height: 50%;

    text-align: center;
    font-size: 1.5em;
}