.center{
    width: 100%;

    .verticalBox {
        display: flex;

        margin: auto;
        width: 90%;

        overflow: hidden;
    }
}

.grid {
    display: grid;
    align-items: center;

    grid-template-columns: auto auto auto;     
    justify-content: space-evenly;

    width: 100%;

    margin: auto;
}
