.center{
    width: 100%;

    .verticalBox {
        display: flex;

        margin: auto;
        width: 90%;

        overflow: hidden;

        align-items: center;
        justify-content: center;
    }
}

form {
    width: 40em;

    .box {
       display: flex;
       flex-direction: column;

       align-items: center;
       justify-content: center;
       margin-bottom: 1em;
    
        div {
            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;

            margin-top: 0.5em;
            margin-bottom: 0.5em;

            font-size: 1em;

            label {
                width: 10em;
                text-align: left;
            }
        }
    }
}

select {
    margin-top: 0.5em;

    font-family: inherit;
    font-size: 1em;
    font-weight: bold;

    background-color: white;

    border-color: black;
    border-style: line;
    border-style:solid;

    text-align: center;
    width: 10em;

    cursor: pointer;
}

input {
    width: 30em;

    border-color: black;
    border-style:solid;

    font-weight: bold;
    font-family: inherit;
    letter-spacing: 0.1em;
    text-align: center;
}

input:focus {
    outline: none;
}